@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  font-family: DM sans, sans-serif;
}

body {
  background: linear-gradient(
    to bottom,
    rgba(0, 93, 245, 0.1),
    rgba(28, 109, 241, 0) 50vh
  );
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .row {
    @apply flex flex-row;
  }
  .col {
    @apply flex flex-col;
  }
}

@layer components {
  .header-height {
    @apply h-[88px];
  }
  .header-padding {
    @apply pt-[88px];
  }
  .footer-height {
    @apply h-24;
  }
  .footer-padding {
    @apply pb-24;
  }
  .sidebar-width {
    @apply w-[22rem];
  }
  .layout {
    @apply py-6 pt-12;
  }
  .box-shadow {
    box-shadow: 2px 2px 5px #dcdcde;
  }
  .shadowHighlight {
    box-shadow: rgba(56, 35, 164, 0.15) 0px 0px 0px 0.5rem !important;
  }
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  display: block;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease-out;
  transform: translate(-50%, 5px);
}

[data-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  padding: 7px;
  width: max-content;
  min-width: 70px;
  max-width: 250px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  transition: 0.2s ease-out;
}

[data-tooltip]:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}
[data-tooltip="false"]:hover:before,
[data-tooltip="false"]:hover:after {
  visibility: hidden;
  opacity: 0;
}

.header-shadow {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.container-shadow {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.compare-shadow {
  box-shadow: 0 0 50px 5px rgba(71, 91, 126, 0.1);
}

.becalled-btn {
  animation: becalled 7s infinite;
  transition: all 0.3s ease-in-out;
}
.becalled-btn.open {
  animation-play-state: paused;
  transform: translate(-30px, -30px);
}

/* Remove arrow on input number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes becalled {
  0% {
    translate: 0px 0px;
    scale: 1;
  }
  7.5% {
    translate: -30px -30px;
    scale: 1.12;
  }
  15% {
    translate: 0px 0px;
    scale: 1;
  }
}

.flag-dropdown {
  background-color: inherit !important;
  border: none !important;
}
.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: inherit !important;
}
