html {
  --background-color: #f9fafd;
  background: var(--background-color);
}

.house {
  mask-image: url("/house-01.svg");
  -webkit-mask-image: url("/house-01.svg");
}

.building {
  mask-image: url("/house-02.svg");
  -webkit-mask-image: url("/house-02.svg");
}

.construction {
  mask-image: url("/house-03.svg");
  -webkit-mask-image: url("/house-03.svg");
}

.mask {
  width: 88px;
  height: 88px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 100%;
  -webkit-mask-size: 100%;
  background: linear-gradient(180deg, #d42049 0%, #ba163f 100%);

  transition: all 0.5s ease-out;
}

.filler {
  background-color: rgb(243 244 246);
  transition: all 0.5s ease;
  height: 80%;
  width: 100%;
}

/* Disable arrow in input number */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
